body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0 10px; /* Add padding for mobile devices */
    box-sizing: border-box;
}

h1 {
    font-family: Arial, sans-serif; /* Arial font with a fallback to sans-serif */
    font-size: 72px; /* Adjust font size as needed */
    font-weight: bold; /* Bold weight for emphasis */
    color: #000; /* Black color */
    margin: 20px 0; /* Vertical spacing */
    text-align: center; /* Align text to the left */
    line-height: 1.2; /* Adjust line spacing */
}

.container {
    text-align: center;
    max-width: 100%; /* Ensure the container does not exceed screen width */
}
.font-sample {
    margin: 20px 0;
    font-size: 10vw; /* Use relative units for font size */
}
.helvetica { font-family: 'Helvetica', sans-serif; }
.arial { font-family: 'Arial', sans-serif; }
.montserrat { font-family: 'Montserrat', sans-serif; }
.emoticons {
    font-size: 8vw; /* Use relative units for emoticons */
}

.background {
    position: absolute;
    background-size: cover; /* Ensures the image fills the div */
	background-repeat: no-repeat;
	z-index: -1;
}

.background-top-left {
    top: 0;
    left: 0;
    width: 400px;
    height: 400px;
    background-image: url('img/bg-top-left.png');
}

.background-top-right {
    top: 0;
    right: 0;
    width: 800px;
    height: 800px;
    background-image: url('img/bg-top-right.png');
}

.background-bottom-left {
    bottom: 0;
    left: 0;
    width: 800px;
    height: 1000px;
    background-image: url('img/bg-bottom-left.png');
}

.background-bottom-right {
    bottom: 0;
    right: 0;
    width: 400px;
    height: 400px;
    background-image: url('img/bg-bottom-right.png');
}

.logo-main {
	max-width: 300px;
}

.main-message {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f04e3e; /* Use the red color from the image */
    color: white; /* White text color */
    font-size: 18px; /* Adjust font size as needed */
    font-weight: bold;
    border-radius: 30px; /* Rounded corners */
    padding: 15px 30px; /* Padding for the container */
    width: fit-content; /* Adjust width based on content */
    margin: 20px auto; /* Center the container on the page */
    text-align: center; /* Center align text */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional shadow for better appearance */
}
